<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个对应的DAO/MAPPER命名接口-->
<mapper namespace="com.hupu.dao.PostMapper">
    <insert id="createPost">
        insert into post (post_id, post_type, post_info, post_time, user_id)
        values (#{id}, #{type}, #{info}, #{time}, #{user_id});
    </insert>

    <update id="updateAddCol">
        update post
        set post_collectnum = post_collectnum + 1
        where post_id = #{id};
    </update>


    <update id="updateSubCol">
        update post
        set post_collectnum = post_collectnum - 1
        where post_id = #{id};
    </update>

    <update id="updateAddCom">
        update post
        set post_commentnum = post_commentnum + 1
        where post_id = #{id};
    </update>

    <update id="updateSubCom">
        update post
        set post_commentnum = post_commentnum - 1
        where post_id = #{id};
    </update>

    <update id="updateAddTran">
        update post
        set post_readNum = post_readNum + 1
        where post_id = #{id};
    </update>

    <update id="updateSubTran">
        update post
        set post_readNum = post_readNum - 1
        where post_id = #{id};
    </update>

    <delete id="deletePostById">
        delete
        from post
        where post_id = #{id}
    </delete>

    <select id="queryPostsByUser" resultType="Post">
        select *
        from post
        where user_id in (select user_id
                          from user
                          where user_nikename like
                                concat('%', #{user_name}, '%'))

    </select>

    <select id="queryPostsByType" resultType="Post">
        select *
        from post
        where post_type = #{type};
    </select>


    <select id="queryAllPost" resultType="Post">
        select *
        from post
    </select>

    <select id="queryPostById" resultType="Post">
        select *
        from post
        where post_id = #{id}
    </select>

    <select id="queryPostByLimit" resultType="Post">
        select *
        from post
        limit #{offset},#{limit};
    </select>

</mapper>
