<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个对应的DAO/MAPPER命名接口-->
<mapper namespace="com.hupu.dao.UserMapper">
    <insert id="createUser" parameterType="User">
    insert into user (user_id, user_email, user_password, user_nikename, user_time)
    values
    (#{id},#{email},AES_ENCRYPT(#{pwd},'hupu'),#{nikeName},#{createTime})
</insert>

    <delete id="deleteUserById" parameterType="int">
        delete from user where user_id=#{id}
    </delete>

    <update id="updateUserName">
        update user set  user_nikename=#{newName}  where user_id = #{id};
    </update>

    <update id="updateUserPwd">
        update user set user_password = AES_ENCRYPT(#{newPwd},'hupu') where
        user_id = #{id};
    </update>

    <update id="updateUserStatus">
        update user set user_status = #{status} where user_id = #{id};
    </update>

    <select id="queryUserById" parameterType="int" resultType="User">
        select * from user where user_id = #{user_id};
    </select>

    <select id="queryUserByName" parameterType="String"
            resultType="User">
        select * from user where user_nikename like concat('%',#{name},'%')
    </select>

    <select id="queryUserByEmail" parameterType="String"
            resultType="User">
        select * from user where user_email = #{email}
    </select>

    <select id="queryUserPwdById" parameterType="int"
            resultType="String">
        select AES_DECRYPT(user_password,"hupu") from user where user_id =
        #{id};
    </select>

    <select id="queryAllUser" resultType="User">
        select * from  user
    </select>
</mapper>
